/* ===== HEADER / NAVBAR ===== */
.header {
  background-color: #000;
  color: #fff;
  padding: 15px 40px;
  position: fixed;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h2 {
  font-size: 24px;
  font-weight: bold;
}

/* NAV LINKS */
.header nav {
  display: flex;
  gap: 25px;
}

.header a {
  color: #ecdddd;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.header a:hover {
  color: #ff3c3c;
}

/* AUTH BUTTONS */
.header div a {
  margin-left: 20px;
}

.signup-btn {
  background-color: #ff3c3c;
  padding: 8px 14px;
  border-radius: 5px;
}

.signup-btn:hover {
  background-color: #e63232;
  color: #1a1312;
}
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.25) 
  
  );
}


.home {
  position: relative;
  min-height: 125vh;
  width: 100%;
  background-image: url("./assets/back.png");
  background-size: 100%;            /* Fill screen */
  background-position: center center;  /* Adjust focus */
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 0 8%;
  color: #efe0e0;
  overflow: hidden;
}